<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Employee Management System</title>
</head>

<body>

    <div class="container my-2">

    <h2>Liste Customer Pagination </h2>
    <a th:href="@{/pagination}">List Customer</a>
    <table th:if="${listCustomerPage}">
  	<tr>
  		<th>ID</th>
  		<th>City</th>
  		<th>Address</th>
  		<th>State</th>
  		<th>Fed id</th>
  	</tr>
 	<tr th:each="cust:${listCustomerPage}">
  		<td th:utext="${cust.custId}"></td>
  		<td th:utext="${cust.city}"></td>
  		<td th:utext="${cust.address}"></td>
  		<td th:utext="${cust.state}"></td>
  		<td th:utext="${cust.fedId}"></td>
  	</tr>
  	</table>

        <div th:if="${totalPages > 1}">
            <div class="row col-sm-10">
                <div class="col-sm-2">
                    Total Rows: [[${totalItems}]]
                </div>
                <div class="col-sm-1">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
					      <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
					      <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                    </span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}">Next</a>
                    <span th:unless="${currentPage < totalPages}">Next</span>
                </div>

                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}}">Last</a>
                    <span th:unless="${currentPage < totalPages}">Last</span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
